<div class="container">
    <section>
        <div class="row">
            <div class="col-lg-3">
                <div class="profileMenu personalArea">
                    <img src="" class="avatar" alt="User`s Photo">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="profileInfo personalArea">
                    <p class="mainTitleOnPage">Мой Аккаунт</p>
                    <ul class="mainInfo ul">
                        <li class="li"><b>Имя пользоваля: {{username}}</b></li>
                        <li class="li"> Адресс электронной почты: {{user_email}}</li>
                        <li class="li"> Баланс на аккаунте: {{money}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>