<div class="container">
    <section>
        <div class="row">
            <div class="col-lg-3">
                <div class="profileMenu personalArea">
                    <img src="" class="avatar" alt="User`s Photo">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="profileInfo personalArea">
                    <p class="mainTitleOnPage">Мой Аккаунт</p>
                    <ul class="mainInfo">
                        <li> Имя пользоваля: </li>
                        <li> Адресс электронной почты: </li>
                        <li> Баланс на аккаунте: </li>
                        <li> Статус аккаунта: </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>