<div style="margin-left: 35px; margin-top: 50px; margin-bottom: 90px;">
    <div style="display: inline-block; width: 450px">
        <div class="card crypto-card-3 pull-up">
            <div class="card-content">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/FIL.png" width=205" style="margin-left: 130px" >
                        </div>
                        <div class="col-5 pl-2">
                            <h4>FIL</h4>
                            <h6 class="text-muted">Fil</h6>
                        </div>
                        <div class="col-5 text-right">
                            <h4><a href="/currency/1/FIL">More</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div  style="display: inline-block; width: 450px">
        <div class="card crypto-card-3 pull-up">
            <div class="card-content">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/KEMARKA.png" width=202px" style="margin-left: 130px" >
                        </div>
                        <div class="col-5 pl-2">
                            <h4>KEM</h4>
                            <h6 class="text-muted">Kemarka</h6>
                        </div>
                        <div class="col-5 text-right">
                            <h4><a href="/currency/2/KEMARKA">More</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  style="display: inline-block; width: 450px">
        <div class="card crypto-card-3 pull-up">
            <div class="card-content">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/TROZ.png" width=185" style="margin-left: 130px" >
                        </div>
                        <div class="col-5 pl-2">
                            <h4>TRO</h4>
                            <h6 class="text-muted">Troz</h6>
                        </div>
                        <div class="col-5 text-right">
                            <h4><a href="/currency/3/TROZ">More</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  style="display: inline-block; width: 450px; margin-top: 10px">
        <div class="card crypto-card-3 pull-up">
            <div class="card-content">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-2">
                            <img src="/img/YARIK.png" width=191px" style="margin-left: 130px" >
                        </div>
                        <div class="col-5 pl-2">
                            <h4>YAR</h4>
                            <h6 class="text-muted">Yariki</h6>
                        </div>
                        <div class="col-5 text-right">
                            <h4><a href="/currency/4/YARIK">More</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
