<div class="container-fluid">
    <div class="row centred">
        <div class="col-lg-10  offset-lg-1  block ">
            <h1 class="ruless">Общие положения</h1>
            <div class="rules">
                <ol>
                    <li class="ruless">Букмекерская сеть принимает ставки на события спортивного и иного характера (далее события). Все ставки принимаются исключительно в соответствии с настоящими правилами и являются подтверждением того, что участник пари знает настоящие правила и полностью с ними согласен.</li>
                    <li class="ruless">Букмекерская сеть вправе без предварительного личного уведомления вносить любые изменения и дополнения в изложенные здесь правила, положения и порядок осуществления выплат. При этом условия ранее сделанных ставок остаются неизменными, а все последующие ставки подчиняются измененным правилам.</li>
                    <li class="ruless">Регистрация, открытие депозита и совершение ставок разрешено исключительно лицам, достигшим 18-летнего возраста, на которых возлагается полная ответственность как за законность азартных игр через Интернет в регионе их проживания, так и за предоставление сведений о выигрышах или проигрышах компетентным органам своей страны.</li>
                    <li class="ruless">Букмекерская сеть полностью доверяет информации, предоставляемой клиентом при подаче заявки на открытие счета, и ответственности за несоответствие вышеупомянутой информации действительности не несет.<br>
                        В целях предотвращения фактов мошенничества и прочих конфликтных ситуаций букмекерская сеть может в исключительных случаях потребовать от клиента подтверждения удостоверения его личности для проверки подлинности информации, предоставленной клиентом. При открытии счета клиенты соглашаются предоставить в таком случае все необходимые документы по требованию букмекерской сети.</li>
                    <li class="ruless">В случае выявления мошенничества, связанного с финансовыми операциями и приемом ставок, виновный привлекается к ответственности, вплоть до уголовной.</li>
                    <li class="ruless">Открытие и пополнение счета производятся согласно правилам открытия и пополнения счета.</li>
                    <li class="ruless">Выплаты выигрышей производятся согласно правилам расчета ставок и снятия денег со счета.</li>
                    <li class="ruless">Клиент лично отвечает за сохранность своего счета и пароля. Букмекерская сеть гарантирует неразглашение данных клиента сотрудниками фирмы и не несет ответственности за последствия, вызванные попаданием секретных данных клиента к посторонним лицам.
                        Любые операции, подтвержденные вводом логина / № игрового счета и пароля владельца счета, считаются действительными и имеют законную силу, при этом единственным ограничением их выполнения служит текущий остаток игрового счета. При подозрении на потерю данной информации клиент вправе в любое время обратиться в администрацию букмекерской сети с запросом об изменении текущего пароля.</li>
                    <li class="ruless">Букмекерская сеть не несет какой-либо ответственности за любой ущерб или убытки, заявленные как понесенные в результате использования настоящего сайта или как вытекающие из его содержания.
                        Данное положение в равной степени относится к использованию (либо неправильному использованию) содержания сайта любым лицом, неспособности подключиться к сайту или использовать его, задержкам в его функционировании или передаче данных, сбоям в линиях связи, любым ошибкам, опечаткам или пропускам в содержании сайта.</li>
                    <li class="ruless">Правила по видам спорта являются приоритетными по отношению к общим правилам.</li>
                    <li class="ruless">есмотря на то, что мы прилагаем все усилия для того, чтобы содержание сайта было корректным, все данные о текущем ходе событий носят исключительно информативный характер. Мы не несем никакой ответственности за возможные неточности в текущем счете матча или времени. Рекомендуем всегда использовать альтернативные источники информации.  </li>
                    <li class="ruless">При возникновении разногласий между русским вариантом этих правил и их переводом на другие языки, текст на русском считается правильным.
                    </li>


                </ol>
            </div>
        </div>
    </div>
</div>