@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.block {
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}

h1{
    text-align: center;
}

.rules{
    margin-top: 95px;
}
li{
    font-size: 15px;
    margin-top: 23px;
}
